[Desktop Entry]
Name=l4s
X-KDE-PluginInfo-Name=l4s
X-KDE-PluginInfo-Author=Azkali Manad
X-KDE-PluginInfo-Email=a.ffcc7@gmail.com
X-KDE-PluginInfo-License=GPLv3
