[Desktop Entry]
Name=l4s-dark
X-KDE-PluginInfo-Author=AzkaliManad
X-KDE-PluginInfo-Email=a.ffcc7@gmail.com
X-KDE-PluginInfo-Name=l4s-dark
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7

[Wallpaper]
defaultWallpaperTheme=l4s
defaultFileSuffix=.jpg
defaultWidth=1920
defaultHeight=1280

[AdaptiveTransparency]
enabled=true
